@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Titillium Web", sans-serif;
  font-family: "Quicksand" !important;
  font-weight: 900;
}

:root {
  --mainColor: #258BFA;
  --mainColorLight: #0935e481;
  --secondaryColor: #db2b39;
  --textColor: #f1f1f1;
}

body {
  height: 100%;
}
