.top {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-image: url('../../../assets/images/home.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-size: cover;
    background-repeat: no-repeat;
}

.top .description {
    width: 40%;
    margin-left: 2rem;
}

.description button {
    padding: .5rem 1rem;
    background-color: var(--sub);
    color: #fff;
    border: none;
    border-radius: 25px;
}

.description button:hover {
    background-color: var(--sub-hover);
}

.top .right_stat {
    width: 25%;
    text-align: center;
}

.top .description h2 {
    font-size: 50px;
    color: var(--main);
}

.top .description h2 span {
    color: var(--sub);
}

.top .image img {
    width: 350px;
    height: 350px;
}

.top .image {
    /* background-image: url('../../assets/images/ggg.png'); */
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}