/*  footer         */

.footer {
    height: 70vh;
    width: 100%;
    background-color: #001639;
    background-image: url('../../../assets/images/footer.png');
    background-size: cover;
    background-repeat: no-repeat;
}
