.doctors_section {
    width: 100%;
    /* height: 70vh; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    gap: 1rem;
}

.title {
    color: var(--primary);
}

.sub_title {
    color: var(--secondary);
    font-size: 15px;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
}

.doctors_cards {
    width: 70%;
    height: fit-content;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /* background-color: beige; */
}

.card {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    width: 200px;
    height: 250px;
    background-color: #f1f1f1;
}

.card img {
    width: 100%;
    height: 160px;
}

.card .card_info {
    text-align: center;
    width: 100%;
    background-color: var(--accent);
    color: var(--primary);
    padding: 1rem 0;

    p {
        font-size: 15px;
    }
}

.card .view_profile {
    width: 100%;
    background-color: rgb(41, 41, 151);
    text-align: center;
    color: #fff;
    padding: .5rem 0;
}

.social_icons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .5rem 0;
}